<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <aw_blog>
            <aw_blog_search>
                <search_query_min_length>3</search_query_min_length>
                <search_query_max_length>128</search_query_max_length>
                <post_title_weight>10</post_title_weight>
                <post_content_weight>9</post_content_weight>
                <post_tags_weight>8</post_tags_weight>
                <post_meta_title_weight>7</post_meta_title_weight>
                <post_meta_keywords_weight>6</post_meta_keywords_weight>
                <post_meta_description_weight>5</post_meta_description_weight>
                <post_author_weight>4</post_author_weight>
            </aw_blog_search>
        </aw_blog>
    </default>
</config>
