//
//  Variables
//  _____________________________________________
@ammenu-nav-border: 1px solid @color-gray76;

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .ammenu {
        &-menu-wrapper {
            .ammenu-menu-overlay {
                position: unset;
            }
        }
        &-submenu-block {
            &.-root {
                box-shadow: none;
                border-bottom: @ammenu-nav-border;
            }
        }

        &-nav-sections {
            border-bottom: @ammenu-nav-border;

            &.-topmenu {
                .ammenu-items {
                    justify-content: space-between;
                    text-transform: uppercase;
                }
            }
            &.-mobile {
                position: unset;
                height: auto;
            }
        }

        a.pagebuilder-button-link {
            font-family: @font-family-name__InterRegular;
        }

        &-item {
            &.nav{
                &-6,&-7,&-8,&-9 {
                    a {
                        color: @theme__color__primary !important;
                        &:hover,
                        &:active,
                        &:focus {
                            color: @theme__color__primary-alt !important;
                        }
                    }
                }
            }
        }
        &-button.-hamburger {
            order: 4;
            margin: 0px 0px 8px 10px;

            &:before {
                content: url("../images/icon_menu.png");
                border: none;
            }
            .ammenu-line,
            &:after
            {
                border: none;
            }
        }
    }

    .stover-link-color {
        a.pagebuilder-button-link {
            color: @stover-primary-elm;
            text-decoration: underline;

            &:hover,
            &:active,
            &:focus {
                color: @stover-primary-blue-stone;
            }
        }
    }
    .ammenu-nav-sections.-mobile:not(.-has-icons) {
        .ammenu-items.-root > .ammenu-item > .ammenu-link:before {
            border: none;
        }
    }
}