<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="aheadworks" translate="label" sortOrder="300">
            <label>Aheadworks Extensions</label>
        </tab>
        <section id="aw_blog" translate="label" type="text" sortOrder="140" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Blog</label>
            <tab>aheadworks</tab>
            <resource>Aheadworks_Blog::config_aw_blog</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="navigation_menu_link_enabled" translate="label comment" type="select" sortOrder="15" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Add Blog To Main Navigation Menu</label>
                    <comment>If you disable this option, make sure to add a link to the blog in the footer links or anywhere else at your choice. Otherwise, Blog will be accessible only via a direct link.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="blog_title" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Blog Title</label>
                </field>
                <field id="route_to_blog" translate="label comment" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Route to Blog</label>
                    <validate>required-entry</validate>
                    <comment><![CDATA[For example, "blog" makes the blog accessible at <u>domain.com/blog</u>]]></comment>
                </field>
                <field id="route_to_authors" translate="label" type="text" sortOrder="35" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Route to Authors Page</label>
                    <validate>required-entry</validate>
                </field>
                <field id="posts_per_page" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Posts per page</label>
                    <validate>required-entry integer validate-greater-than-zero</validate>
                </field>
                <field id="related_posts_qty" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Quantity Of Related Posts</label>
                    <validate>required-entry validate-greater-than-zero integer</validate>
                    <comment>Related posts are auto-picked basing on tags. If no matching tags were found, the "Recent posts" block will be shown instead.</comment>
                </field>
                <field id="is_grid_view_enabled" translate="label" type="select" sortOrder="55" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Posts in a grid view</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[Display Blog Posts in a grid view instead of a list view on the frontend.]]></comment>
                </field>
                <field id="grid_view_column_count" translate="label" type="text" sortOrder="56" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Number of columns</label>
                    <validate>required-entry integer validate-number-range number-range-2-5</validate>
                    <comment><![CDATA[minimum is 2, maximum is 5]]></comment>
                    <depends>
                        <field id="is_grid_view_enabled">1</field>
                    </depends>
                </field>
                <field id="post_view_default" translate="label" type="select" sortOrder="57" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Default posts view</label>
                    <source_model>Aheadworks\Blog\Model\Source\Post\ViewMode</source_model>
                    <depends>
                        <field id="is_grid_view_enabled">1</field>
                    </depends>
                </field>
                <field id="display_sharing_buttons_at" translate="label" type="multiselect" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Display Sharing Buttons At</label>
                    <source_model>Aheadworks\Blog\Model\Source\Post\SharingButtons\DisplayAt</source_model>
                    <can_be_empty>0</can_be_empty>
                </field>
                <field id="are_authors_displayed" translate="label" type="select" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Display Authors</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="post_image_placeholder" translate="label" type="image" sortOrder="120" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Post Image Placeholder</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Image</backend_model>
                    <upload_dir config="system/filesystem/media" scope_info="1">aw_blog/post/placeholder</upload_dir>
                    <base_url type="media" scope_info="1">aw_blog/post/placeholder</base_url>
                </field>
                <field id="placeholder_alt_text" translate="label" type="text" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Placeholder Alt Text</label>
                </field>
            </group>
            <group id="sidebar" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Sidebar</label>
                <field id="recent_posts" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Number of Recent Posts to Display</label>
                    <validate>required-entry integer validate-greater-than-zero</validate>
                </field>
                <field id="popular_tags" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Number of Most Popular Tags to Display</label>
                    <validate>required-entry integer validate-greater-than-zero</validate>
                </field>
                <field id="featured_posts_qty" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Number of Featured Posts</label>
                    <validate>required-entry integer validate-greater-than-zero</validate>
                </field>
                <field id="featured_posts_position" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Featured Posts Position</label>
                    <source_model>Aheadworks\Blog\Model\Source\Config\Featured\Position</source_model>
                </field>
                <field id="highlight_popular_tags" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Highlight Popular Tags</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="cms_block" translate="label" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Sidebar CMS Block</label>
                    <source_model>Aheadworks\Blog\Model\Source\Config\Cms\Block</source_model>
                </field>
                <field id="category_listing_enabled" translate="label" type="select" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Display Categories List in a Sidebar</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="category_listing_limit" translate="label comment" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Maximum Number of Categories to Display</label>
                    <validate>validate-zero-or-greater integer</validate>
                    <comment><![CDATA[A threshold to display "Show X More" link. Set to 0 to show all categories.]]></comment>
                    <depends>
                        <field id="category_listing_enabled">1</field>
                    </depends>
                </field>
            </group>
            <group id="seo" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>SEO</label>
                <field id="are_meta_tags_enabled" translate="label,comment" type="select" sortOrder="9" showInDefault="1">
                    <label>Enable Meta Tags</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Disable if you want to manage meta tags with a third-party solution.</comment>
                </field>
                <field id="meta_description" translate="label comment" type="textarea" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Blog Meta Description</label>
                    <comment>Recommended max length is 156 characters</comment>
                </field>
                <field id="meta_keywords" translate="label" type="textarea" sortOrder="15" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Blog Meta Keywords</label>
                </field>
                <field id="url_type" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>URL structure</label>
                    <source_model>Aheadworks\Blog\Model\Source\Config\Seo\UrlType</source_model>
                </field>
                <field id="post_url_suffix" translate="label,comment" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Post URL Suffix</label>
                    <backend_model>Aheadworks\Blog\Model\Config\Backend\Suffix\Post</backend_model>
                    <comment><![CDATA[Can consist of letters, numbers, slashes, underscores, dots and hyphens.<br>You need to refresh the cache.]]></comment>
                </field>
                <field id="author_url_suffix" translate="label,comment" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Author Page URL Suffix</label>
                    <backend_model>Aheadworks\Blog\Model\Config\Backend\Suffix\Author</backend_model>
                    <comment><![CDATA[Can consist of letters, numbers, slashes, underscores, dots and hyphens.<br>You need to refresh the cache.]]></comment>
                </field>
                <field id="url_suffix_for_other_pages" translate="label,comment,tooltip" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>URL Suffix for all other pages</label>
                    <backend_model>Aheadworks\Blog\Model\Config\Backend\Suffix\OtherPages</backend_model>
                    <comment><![CDATA[Can consist of letters, numbers, slashes, underscores, dots and hyphens.<br>You need to refresh the cache.]]></comment>
                    <tooltip>Used for categories, authors page, blog home page and search by tag page</tooltip>
                </field>
                <field id="save_rewrites_history" translate="label" type="select" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Create Permanent Redirect for URLs if URL Key Changed</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="category_canonical_tag" translate="label" type="select" sortOrder="80" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Use Canonical Link Meta Tag For Categories</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="post_canonical_tag" translate="label" type="select" sortOrder="90" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Use Canonical Link Meta Tag For Posts</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="author_canonical_tag" translate="label" type="select" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Use Canonical Link Meta Tag For Authors</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="is_use_blog_page_canonical_tag" translate="label" type="select" sortOrder="105" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Use Canonical Link Meta Tag For Blog Page</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="title_prefix" translate="label" type="text" sortOrder="110" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Title Prefix</label>
                </field>
                <field id="title_suffix" translate="label" type="text" sortOrder="120" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Title Suffix</label>
                </field>
                <field id="organization_name" translate="label,comment" type="text" sortOrder="140" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Organization</label>
                    <comment>Will be used in structured data (JSON-LD)</comment>
                </field>
            </group>
            <group id="comments" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Comments</label>
                <field id="comments_enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Comments Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="comments_service" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Comments Service</label>
                    <source_model>Aheadworks\Blog\Model\Source\Config\Comments\Service</source_model>
                </field>
                <field id="disqus_forum_code" translate="label comment" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Disqus Forum Code</label>
                    <comment><![CDATA[<a href="https://aheadworks.com/resources/blog/user-manual-blog#registering" target="_blank">How to set it up?</a>]]></comment>
                    <depends>
                        <field id="comments_service">disqus</field>
                    </depends>
                </field>
                <field id="disqus_secret_key" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Disqus Secret Key</label>
                    <depends>
                        <field id="comments_service">disqus</field>
                    </depends>
                </field>
                <field id="facebook_app_id" translate="label comment" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Facebook App ID</label>
                    <comment><![CDATA[In order to use Facebook Insights you must add the app ID to your page. Insights lets you view analytics for traffic to your site from Facebook. Find the app ID in your App Dashboard.]]></comment>
                    <depends>
                        <field id="comments_service">disqus</field>
                    </depends>
                </field>
                <field id="twitter_site" translate="label comment" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Default Twitter site account</label>
                    <frontend_model>Aheadworks\Blog\Block\Adminhtml\System\Config\Field\Text</frontend_model>
                    <backend_model>Aheadworks\Blog\Model\System\Config\TwitterValue</backend_model>
                    <comment><![CDATA[if @ symbol is missing, we add it automatically.]]></comment>
                    <depends>
                        <field id="comments_service">disqus</field>
                    </depends>
                </field>
                <field id="is_automatic_approving" translate="label" type="select" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Automatic Approving</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="comments_service">built-in</field>
                    </depends>
                </field>
                <field id="is_allow_guest_comments" translate="label" type="select" sortOrder="80" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Allow Guest Comments</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="comments_service">built-in</field>
                    </depends>
                </field>
                <field id="enable_terms_and_conditions" translate="label" type="select" sortOrder="90" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Terms and Conditions</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="comments_service">built-in</field>
                    </depends>
                </field>
                <field id="agreements_display_mode" translate="label" type="select" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Who must accept Terms and Conditions</label>
                    <source_model>Aheadworks\Blog\Model\Source\Comment\Agreements\DisplayMode</source_model>
                    <depends>
                        <field id="enable_terms_and_conditions">1</field>
                        <field id="comments_service">built-in</field>
                    </depends>
                </field>
                <field id="allow_subscribe_to_notification_automatically" translate="label" type="select" sortOrder="110" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Subscribe Customers to Comments emails automatically</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="comments_service">built-in</field>
                    </depends>
                </field>
            </group>
            <group id="notification" translate="label" type="text" sortOrder="45" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Email Notification Settings</label>
                <field id="email_sender" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Email Sender</label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Identity</source_model>
                </field>
                <field id="send_notification_new_comment_to" translate="label,comment" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Send admin notifications to this email address</label>
                    <validate>validate-email</validate>
                    <comment><![CDATA[Leave empty to disable admin notifications]]></comment>
                </field>
                <field id="new_comment_to_admin_template" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Admin notifications about new comment</label>
                    <source_model>Aheadworks\Blog\Model\Source\Email\Template</source_model>
                </field>
                <field id="new_reply_comment_to_admin_template" translate="label" type="select" sortOrder="35" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Admin notifications about new replies</label>
                    <source_model>Aheadworks\Blog\Model\Source\Email\Template</source_model>
                </field>
                <field id="comment_status_change_to_customer_template" translate="label" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Customer notifications about the comment is published</label>
                    <source_model>Aheadworks\Blog\Model\Source\Email\Template</source_model>
                </field>
                <field id="template_for_subscriber_comment_rejected" translate="label" type="select" sortOrder="45" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Customer notifications about the comment is rejected</label>
                    <source_model>Aheadworks\Blog\Model\Source\Email\Template</source_model>
                </field>
                <field id="new_reply_comment_to_customer_template" translate="label" type="select" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Customer notifications about new replies to their comments </label>
                    <source_model>Aheadworks\Blog\Model\Source\Email\Template</source_model>
                </field>
                <field id="stored_emails_lifetime" translate="label comment" type="text" sortOrder="60" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Remove the web copies of the emails older than X days</label>
                    <comment>Leave 0 to disable this option</comment>
                    <validate>integer validate-zero-or-greater</validate>
                </field>
            </group>
            <group id="related_products" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Related Products</label>
                <field id="display_posts_on_product_page" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Display Blog Posts Tab on Product Page</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="block_position" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Display Related Products Block on Post Page</label>
                    <source_model>Aheadworks\Blog\Model\Source\Config\Related\BlockPosition</source_model>
                </field>
                <field id="block_layout" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Related Products Block Layout</label>
                    <source_model>Aheadworks\Blog\Model\Source\Config\Related\BlockLayout</source_model>
                    <depends>
                        <field id="block_position" separator=",">after_post,after_comments</field>
                    </depends>
                </field>
                <field id="products_limit" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Max Products to Display</label>
                    <validate>required-entry validate-greater-than-zero integer</validate>
                    <depends>
                        <field id="block_position" separator=",">after_post,after_comments</field>
                        <field id="block_layout" separator=",">multiple_rows,slider</field>
                    </depends>
                </field>
                <field id="display_add_to_cart" translate="label" type="select" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Display "Add to Cart" Button</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="block_position" separator=",">after_post,after_comments</field>
                    </depends>
                </field>
            </group>
            <group id="wordpress_import" translate="label" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Wordpress Import</label>
                <field id="can_override" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Override existing posts with the same URL</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="import_file" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Import file</label>
                    <frontend_model>\Aheadworks\Blog\Block\Adminhtml\System\Config\Field\WordpressImport</frontend_model>
                </field>
            </group>
            <group id="entity_import" translate="label" type="text" sortOrder="70" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Import</label>
                <field id="entity" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Entity Type</label>
                    <source_model>Aheadworks\Blog\Model\Source\Config\Import\Types</source_model>
                </field>
                <field id="import_file" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Import file</label>
                    <frontend_model>Aheadworks\Blog\Block\Adminhtml\System\Config\Field\EntityImport</frontend_model>
                </field>
            </group>
            <group id="entity_export" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Export</label>
                <field id="entity" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Entity Type</label>
                    <source_model>Aheadworks\Blog\Model\Source\Config\Import\Types</source_model>
                    <frontend_model>Aheadworks\Blog\Block\Adminhtml\System\Config\Field\EntityExport</frontend_model>
                </field>
            </group>
        </section>
        <section id="rss">
            <group id="aw_blog_rss" translate="label" type="text" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Aheadworks Blog</label>
                <field id="blog_posts" translate="label" type="select" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Blog Posts</label>
                    <validate>required-entry</validate>
                    <source_model>Magento\Config\Model\Config\Source\Enabledisable</source_model>
                </field>
            </group>
        </section>
        <section id="recaptcha_frontend">
            <group id="type_for">
                <field id="aw_blog_comment" translate="label" type="select" sortOrder="250"
                       showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enable for Blog Post Comments</label>
                    <source_model>Magento\ReCaptchaAdminUi\Model\OptionSource\Type</source_model>
                </field>
                <field id="aw_blog_comment_recaptcha_display_mode" translate="label" type="multiselect" sortOrder="251"
                       showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Blog Post Comment reCAPTCHA Usage mode</label>
                    <depends>
                        <field id="aw_blog_comment" negative="1"></field>
                    </depends>
                    <source_model>Aheadworks\Blog\Model\Source\Captcha\DisplayMode</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
