//
//  Variables
//  _____________________________________________
@copyright__background-color: @color-white-dark-smoke;

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .header {
        &.content {
            .customer-name,
            .authorization-link.no-li a{
                margin-right: 10px;
                &:before {
                    content: url("../images/icon_account.png");
                }
            }

            a {
                &.pagebuilder-button-link {
                    color: @theme__color__primary;
                    font-family: @font-family-name__InterBold;
                    text-transform: uppercase;
                    font-size: 14px;
                }
            }
        }
    }

    .promo {
        strong {
            font-family: @font-family-name__InterBold;
        }
    }

    .copyright {
        &-inner {
            max-width: 1280px;
            margin: auto;
            width: 100%;
        }
        &-links {
            a {
                color: @color-black;
                font-family: @font-family-name__InterRegular;
                vertical-align: sub;
                &:before {
                    content: '|';
                    padding: 0 15px;
                }
            }
            span {
                vertical-align: sub;
            }
        }

        .payment-icons {
            .icon {
                font-size: 24px;
                padding: 0 10px;
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .page-header {
        border-bottom: none;
        .panel {
            &.header {
                padding: 0;
            }
        }
    }
    .customer-name,
    .authorization-link.no-li {
        display: none;
    }

    .ammenu-header-container {
        .header.content {
            align-items: end;
        }
    }
}

// Normal Magento Media Query isn't working for this break point
@media screen and (max-width: 1024px){
    .header-static-links {
        display: none !important;
    }
}


.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .page-header {
        .panel {
            &.header {
                max-width: 100%;
                padding: 0;
            }
        }
    }

    .page-wrapper {
        .header {
            &.content {
                display: flex;
            }
        }
    }

    .ammenu-header-container {
        .header.content {
            padding: 20px 22px 20px;
            margin-bottom: 0;
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
    .copyright {
        &-inner {
            display: flex;
            justify-content: space-between;
        }
    }
}