<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <aw_blog>
            <general>
                <enabled>1</enabled>
                <navigation_menu_link_enabled>1</navigation_menu_link_enabled>
                <route_to_blog>blog</route_to_blog>
                <route_to_authors>authors</route_to_authors>
                <blog_title>Blog</blog_title>
                <posts_per_page>10</posts_per_page>
                <related_posts_qty>3</related_posts_qty>
                <is_grid_view_enabled>0</is_grid_view_enabled>
                <grid_view_column_count>3</grid_view_column_count>
                <post_view_default>list</post_view_default>
                <display_sharing_buttons_at>1,2</display_sharing_buttons_at>
                <are_authors_displayed>1</are_authors_displayed>
            </general>
            <sidebar>
                <recent_posts>5</recent_posts>
                <popular_tags>5</popular_tags>
                <featured_posts_qty>5</featured_posts_qty>
                <featured_posts_position>top</featured_posts_position>
                <highlight_popular_tags>1</highlight_popular_tags>
                <cms_block>-1</cms_block>
                <category_listing_enabled>1</category_listing_enabled>
                <category_listing_limit>5</category_listing_limit>
            </sidebar>
            <comments>
                <comments_enabled>0</comments_enabled>
                <comments_service>disqus</comments_service>
                <is_automatic_approving>0</is_automatic_approving>
                <is_allow_guest_comments>0</is_allow_guest_comments>
                <enable_terms_and_conditions>0</enable_terms_and_conditions>
                <agreements_display_mode>0</agreements_display_mode>
                <allow_subscribe_to_notification_automatically>0</allow_subscribe_to_notification_automatically>
            </comments>
            <notification>
                <email_sender>general</email_sender>
                <new_comment_to_admin_template>aw_blog_notification_new_comment_to_admin_template</new_comment_to_admin_template>
                <new_reply_comment_to_admin_template>aw_blog_notification_new_reply_comment_to_admin_template</new_reply_comment_to_admin_template>
                <comment_status_change_to_customer_template>aw_blog_notification_comment_status_change_to_customer_template</comment_status_change_to_customer_template>
                <new_reply_comment_to_customer_template>aw_blog_notification_new_reply_comment_to_customer_template</new_reply_comment_to_customer_template>
                <template_for_subscriber_comment_rejected>aw_blog_notification_template_for_subscriber_comment_rejected</template_for_subscriber_comment_rejected>
                <stored_emails_lifetime>0</stored_emails_lifetime>
            </notification>
            <related_products>
                <display_posts_on_product_page>0</display_posts_on_product_page>
                <block_position>not_display</block_position>
                <products_limit>8</products_limit>
            </related_products>
            <seo>
                <are_meta_tags_enabled>1</are_meta_tags_enabled>
                <url_type>url_exclude_category</url_type>
                <post_url_suffix>/</post_url_suffix>
                <author_url_suffix>/</author_url_suffix>
                <url_suffix_for_other_pages>/</url_suffix_for_other_pages>
            </seo>
        </aw_blog>
        <sitemap>
            <aw_blog>
                <priority>0.5</priority>
                <changefreq>weekly</changefreq>
            </aw_blog>
        </sitemap>
        <general>
            <file>
                <protected_extensions>
                    <xml>0</xml>
                </protected_extensions>
            </file>
        </general>
    </default>
</config>
