<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="aheadworks_blog_api_data_categoryinterface_save_before">
        <observer name="legacy_model_aw_blog_category_before_save" instance="Magento\Framework\EntityManager\Observer\BeforeEntitySave" />
    </event>
    <event name="aheadworks_blog_api_data_categoryinterface_save_after">
        <observer name="legacy_model_aw_blog_category_after_save" instance="Magento\Framework\EntityManager\Observer\AfterEntitySave" />
        <observer name="aheadworks_blog_category_save_after_rewrites_processing" instance="Aheadworks\Blog\Observer\UrlRewrites\CategorySaveAfterProcessingObserver" />
    </event>
    <event name="aheadworks_blog_api_data_categoryinterface_delete_after">
        <observer name="legacy_model_aw_blog_category_after_delete" instance="Magento\Framework\EntityManager\Observer\AfterEntityDelete" />
        <observer name="aheadworks_blog_category_delete_after_rewrites_processing" instance="Aheadworks\Blog\Observer\UrlRewrites\CategoryDeleteAfterProcessingObserver" />
    </event>
    <event name="aheadworks_blog_api_data_categoryinterface_load_after">
        <observer name="legacy_model_blog_category_after_load" instance="Magento\Framework\EntityManager\Observer\AfterEntityLoad" />
    </event>
    <event name="aheadworks_blog_api_data_postinterface_save_before">
        <observer name="legacy_model_aw_blog_post_before_save" instance="Magento\Framework\EntityManager\Observer\BeforeEntitySave" />
    </event>
    <event name="aheadworks_blog_api_data_postinterface_save_after">
        <observer name="legacy_model_aw_blog_post_after_save" instance="Magento\Framework\EntityManager\Observer\AfterEntitySave" />
        <observer name="aheadworks_blog_post_save_after_rewrites_processing" instance="Aheadworks\Blog\Observer\UrlRewrites\PostSaveAfterProcessingObserver" />
    </event>
    <event name="aheadworks_blog_api_data_postinterface_delete_after">
        <observer name="legacy_model_aw_blog_post_after_delete" instance="Magento\Framework\EntityManager\Observer\AfterEntityDelete" />
        <observer name="aheadworks_blog_post_delete_after_rewrites_processing" instance="Aheadworks\Blog\Observer\UrlRewrites\PostDeleteAfterProcessingObserver" />
    </event>
    <event name="aheadworks_blog_api_data_postinterface_load_after">
        <observer name="legacy_model_blog_post_after_load" instance="Magento\Framework\EntityManager\Observer\AfterEntityLoad" />
    </event>
    <event name="aheadworks_blog_api_data_commentinterface_save_after">
        <observer name="legacy_model_aw_blog_comment_after_save" instance="Magento\Framework\EntityManager\Observer\AfterEntitySave" />
    </event>
    <event name="aheadworks_blog_api_data_taginterface_save_before">
        <observer name="legacy_model_aw_blog_tag_before_save" instance="Magento\Framework\EntityManager\Observer\BeforeEntitySave" />
    </event>
    <event name="aheadworks_blog_api_data_taginterface_save_after">
        <observer name="legacy_model_aw_blog_tag_after_save" instance="Magento\Framework\EntityManager\Observer\AfterEntitySave" />
    </event>
    <event name="aheadworks_blog_api_data_taginterface_delete_after">
        <observer name="legacy_model_aw_blog_tag_after_delete" instance="Magento\Framework\EntityManager\Observer\AfterEntityDelete" />
    </event>
    <event name="aheadworks_blog_api_data_authorinterface_save_before">
        <observer name="legacy_model_aw_blog_author_before_save" instance="Magento\Framework\EntityManager\Observer\BeforeEntitySave" />
    </event>
    <event name="aheadworks_blog_api_data_authorinterface_save_after">
        <observer name="legacy_model_aw_blog_author_after_save" instance="Magento\Framework\EntityManager\Observer\AfterEntitySave" />
        <observer name="aheadworks_blog_author_save_after_rewrites_processing" instance="Aheadworks\Blog\Observer\UrlRewrites\AuthorSaveAfterProcessingObserver" />
    </event>
    <event name="aheadworks_blog_api_data_authorinterface_delete_after">
        <observer name="legacy_model_aw_blog_author_after_delete" instance="Magento\Framework\EntityManager\Observer\AfterEntityDelete" />
        <observer name="aheadworks_blog_author_delete_after_rewrites_processing" instance="Aheadworks\Blog\Observer\UrlRewrites\AuthorDeleteAfterProcessingObserver" />
    </event>
    <event name="aheadworks_blog_api_data_authorinterface_load_after">
        <observer name="legacy_model_blog_author_after_load" instance="Magento\Framework\EntityManager\Observer\AfterEntityLoad" />
    </event>
    <event name="store_save_after">
        <observer name="store_save_after_rewrites_processing" instance="Aheadworks\Blog\Observer\UrlRewrites\StoreSaveAfterProcessingObserver" />
    </event>
    <event name="admin_system_config_changed_section_aw_blog">
        <observer name="invalidate_indexer_after_aw_blog_config_changed" instance="Aheadworks\Blog\Observer\ConfigBlogSection" />
    </event>
    <event name="aw_blog_comment_creation_after">
        <observer name="aw_blog_comment_creation_after_observer" instance="Aheadworks\Blog\Observer\Comment\CreationAfter" />
    </event>
    <event name="aw_blog_comment_update_after">
        <observer name="aw_blog_comment_update_after_observer" instance="Aheadworks\Blog\Observer\Comment\UpdateAfter" />
    </event>
</config>
