//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .minicart-wrapper {
        .action.showcart {
            .counter.qty {
                position: absolute;
                top: -20px;
                right: -15px;
                background-color: @theme__color__primary;
                border-radius: 11px;
                font-size: 12px;
            }
        }
    }
}