<div data-role="aw-blog__agreements" class="aw-blog__agreements-block" if="isNeedToRender()">
    <div class="aw-blog__agreements">
        <fastForEach args="data: agreementsData, as: 'agreementsDataRow'" >
            <div if="agreementsDataRow.isRequired"
                 class="aw-blog__agreement required">
                <input type="checkbox" class="required-entry"
                       data-bind="attr: {
                                    'id': $parent.getCheckboxId(agreementsDataRow.agreementId),
                                    'name': 'agreement[' + agreementsDataRow.agreementId + ']',
                                    'value': agreementsDataRow.agreementId,
                                    }"/>
                <label data-bind="attr: {'for': $parent.getCheckboxId(agreementsDataRow.agreementId)}">
                    <button type="button" class="action action-show"
                            data-bind="click: function(data, event) { return $parent.showContent(data, event) }">
                        <span data-bind="html: agreementsDataRow.checkboxText"></span>
                    </button>
                </label>
            </div>
            <div ifnot="agreementsDataRow.isRequired"
                 class="aw-blog__agreement">
                <button type="button" class="action action-show"
                        data-bind="click: function(data, event) { return $parent.showContent(data, event) }">
                    <span data-bind="html: agreementsDataRow.checkboxText"></span>
                </button>
            </div>
        </fastForEach>
        <div id="aw-blog__agreements-modal" data-bind="afterRender: initModal" style="display: none">
            <div class="aw-blog__agreements-item-content" data-bind="html: modalContent"></div>
        </div>
    </div>
</div>
