//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .cold-pack-container {
        border-top: 1px solid @color-gray20;
        border-bottom: 1px solid @color-gray20;
        padding-top: 20px;
        .product-item-photo {
            display: none;
        }
        .block-products-list.grid {
            padding-top: 0!important;
            .products-grid {
                .product-items {
                    .product-item {
                        padding: inherit;
                        margin-bottom: 0;
                    }
                }

                .product-item {
                    .price-box {
                        margin-top: 10px;
                        margin-bottom: 20px;
                        .price {
                            font-weight: @font-weight__regular;
                        }
                    }

                    &-name {
                        min-height: unset;

                        > a {
                            color: @theme__color__primary;
                            font-weight: @font-weight__heavier;
                            visibility: collapse;
                            &:before {
                                content: "Cold Pack";
                                color: @theme__color__primary;
                                font-weight: @font-weight__heavier;
                                display: block;
                                visibility: initial;
                                margin-bottom: -20px;
                            }
                        }
                    }

                    &-actions {
                        .actions-secondary {
                            display: none;
                        }
                    }

                    &-inner {
                        button.tocart {
                            .lib-button();
                            border-radius: @button__border-radius;
                        }
                    }

                    &-details {
                        text-align: left;
                        margin-left: 45px;
                    }
                }
            }
        }

        .action.tocart {
            &:before {
                content: "Add Cold Packing";
            }

            span {
                display: none;
            }
        }
    }

    .cold-pack-icon {
        p {
            padding-bottom: 15px;

            img {
                float: left;
                margin-right: 10px;
            }
            > span {
                overflow: hidden;
            }
        }
    }

    .catalog-product-view {
        .cold-pack-container {
            .block-products-list.grid {
                background-color: transparent;
            }
        }
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .cold-pack-container {
        .block.widget {
            .products-grid {
                .product-item {
                    width: 100%;

                    &-inner {
                        text-align: center;
                        margin-bottom: 10px;
                    }
                }
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
    .cold-pack-container {
        .products-grid {
            .product-item-actions {
                text-align: left;
            }
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__s) {
    .page-layout-1column {
        .cold-pack-container {
            .block.widget {
                .products-grid {
                    .product-item {
                        width: 100%;

                        &-info,
                        &-inner {
                            &:hover,
                            &:active {
                                box-shadow: none;
                                border: none;
                                margin: inherit;
                                padding: inherit;
                            }
                        }

                        &-inner {
                            margin: inherit;
                            padding: inherit;

                            .product-item-actions {
                                margin: 0;
                                position: absolute;
                                top: -64px;
                                right: 10px;
                            }
                        }

                        &-info {
                            &:not(:hover),
                            &:not(active) {
                                .product-item-inner {
                                    clip: unset;
                                    height: auto;
                                    overflow: inherit;
                                    position: relative;
                                    width: auto;
                                    border: none;
                                    box-shadow: none;
                                    visibility: initial;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
