//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    .sidebar-main {
        .block-content {
            .block-subtitle {
                text-transform: uppercase;
                font-weight: @font-weight__black;
                padding-left: 0;
                padding-right: 0;
                letter-spacing: 1px;
                font-size: @font-size__base;
            }

            .filter-options {
                &-title {
                    text-transform: capitalize;
                    color: @color-black;
                }

                &-content {
                    a, .count {
                        font-weight: @font-weight__regular;
                        color: @color-black;
                    }
                }
            }
        }
    }

    .block-wishlist {
        .block-title {
            margin-bottom: 15px;

            strong {
                .lib-heading(h5);
                font-size: @font-size__base;
                text-transform: uppercase;
                letter-spacing: 1px;
            }
        }
    }

    .product-item {
        text-align: center;

        .price-container {
            .price {
                font-size: @font-size__base;
            }
        }
    }

    .pages {
        a.page {
            color: @color-black;
            font-weight: @font-weight__regular;
            font-size: @font-size__base;
        }

        .item.current {
            background-color: @stover-secondary-pale-gray;

            span {
                color: @color-black;
                font-size: @font-size__base;
            }
        }

        .action.next {
            &:before {
                font-size: @font-size__base;
                margin: 7px 0 0 0;
                color: @color-black;
            }
        }
    }

    // Product Recommendations on PDP
    .catalog-product-view {
        .block-products-list.grid {
            margin-top: 0;
            background-color: @stover-secondary-pale-gray;
            padding-top: 13px;
            padding-bottom: 23px;

            .block-title {
                .lib-heading(h2);
                text-align: center;
                text-transform: lowercase;

                b {
                    font-weight: @font-weight__regular;
                }
            }
        }
    }

    .block-products-list.grid {
        .products-grid {
            .product-items {
                .product-item {
                    background-color: @color-white;
                    padding: 10px;
                    margin-bottom: 22px;
                    text-align: center;

                    .tocart {
                        border-radius: 20px;
                    }

                    &-details {
                        .product-item-name {
                            a {
                                font-weight: @font-weight__regular;
                            }
                        }
                    }
                }
            }

            .product-item-details {
                text-align: center;
            }
        }
    }

    .products-grid {
        .product-item {
            .price-box {
                margin-bottom: 25px;
            }

            &-actions {
                text-align: center;
                margin-bottom: 0;

                .action.towishlist {
                    width: auto;

                    &:before {
                        content: @icon-wishlist-empty;
                        color: @theme__color__primary;
                        font-family: @icons-blank__font-name;
                        font-size: 40px;
                        width: auto;
                    }

                    &:hover:before {
                        content: @icon-wishlist-full;
                    }
                }
            }

            &-name {
                min-height: 60px;
            }
        }
    }
    .product-item-actions {
        .actions-primary {
            > .stock.unavailable {
                padding-left: 24px;
            }
        }
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .page-products {
        .products-grid {
            .product-items {
                .product-item {
                    width: 48%;
                }
            }

            .product-item-actions {
                text-align: center;

                .tocart {
                    white-space: initial;
                }
            }
        }
    }

    .sidebar-main {
        .filter-title {
            strong {
                .lib-button-primary();
                right: 0;
                border-radius: 20px;
                text-transform: uppercase;
                box-shadow: none;
            }
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__s) {
    .abs-visually-hidden-desktop-s,
    .products-grid {
        .product-item {
            &-info:not(:hover):not(.active) {
                .product-item-inner {
                    visibility: hidden;
                    border: 0;
                    clip: unset;
                    height: auto;
                    margin: auto;
                    overflow: auto;
                    padding: 0;
                    position: unset;
                    width: auto;
                }
            }
        }

        &-inner {
            position: unset;
            box-shadow: none;
            border: none;
        }
    }
}


.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .block-products-list.grid {
        .block-content {
            max-width: 1280px;
            margin: auto;
        }
    }
}