// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

@product-info-price: @color-gray20;

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .top-content-wrap {
        max-width: 1280px;
        margin: auto;
        overflow: auto;
    }

    .product.actions {
        .actions-primary {
            width: 100%;
            display: block;

            .action.tocart {
                border-radius: 20px;
                width: 100%;
            }
        }
    }


    .minicart-wrapper {
        order: 1;
        margin: 0;

        .action {
            &.showcart {
                &:before {
                    content: url("../images/icon_cart.png");
                    height: 25px;
                    width: 25px;
                    display: block;
                }

                &.active {
                    &:before {
                        content: url("../images/icon_close.png");
                        line-height: 15px;
                    }
                }
            }
        }
    }

    .product {
        &-info-main {
            .product-add-form {
                padding-top: 0;
                //border-top: 1px solid @border-color__base;
            }

            .box-tocart {
                margin-bottom: 0;
            }

            .product-info-price {
                .price-box {
                    display: block;
                }
            }

            .action.towishlist {
                color: @stover-primary-gray;
                font-weight: @font-weight__regular;
                display: block;
                text-align: center;
                font-size: 14px;
                line-height: 14px;
                &:before {
                    content: @icon-wishlist-full;
                    font-family: @icons__font-name;
                    padding-right: 10px;
                }
            }
        }

        &-options-bottom {
            .field {
                &.qty {
                    padding-bottom: 20px;

                    .label {
                        font-family: @font-family__base;
                        font-weight: @font-weight__light;
                    }
                }
            }

            .actions {
                border-top: 1px solid @color-black;
                padding-top: 20px;

                .action.primary {
                    .lib-button-revert-secondary-size();
                    width: 100%;
                }
            }
        }

        &-social-links {
            .action {
                &.towishlist {
                    text-transform: capitalize;
                    font-family: @font-family__base;
                    font-size: 14px;
                    color: @stover-primary-gray;
                }
            }
        }

        &.media {
            .fotorama__active {
                .fotorama__dot {
                    background-color: @theme__color__primary;
                    border-color: @theme__color__primary;
                }
            }
        }

        &-info-price {
            .price-box {
                .price-container {
                    .price {
                        font-weight: @font-weight__regular;
                    }
                }

                .normal-price.special-price {
                    display: inline-block;
                    margin-left: 20px;
                }

                .old-price {
                    float: left;
                    color: @stover-primary-light-gray;
                    text-decoration: line-through;

                    .price-wrapper {
                        .price {
                            font-size: 26px;
                        }
                    }

                    .price-container {
                        .price-label {
                            display: none;
                        }
                    }
                }
            }
        }
    }

    .product-info-stock-sku {
        .stock {
            display: none;
        }
    }
    .category-columns {
        .pagebuilder-column {
            margin-bottom: 20px !important;
        }
    }
    .catalog-product-view {
        .breadcrumbs {
            margin-bottom: 0;
        }
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {

}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .product-item-info {
        margin: auto;
    }

    .product.attribute.details-template,
    .sub-footer {
        margin: 0 -15px;
    }

    .category-columns {
        padding: 15px;
        margin: 0 -15px;
        .pagebuilder-column {
            flex-direction: row !important;
            figure {
                float: left;
                height: 65px;
            }
            img {
                height: 65px !important;
                width: 65px !important;
            }

            .heading-3 {
                a.pagebuilder-button-link {
                    margin-top: 20px !important;
                    margin-left: 10px !important;
                    text-transform: uppercase;

                    &:after {
                        content: @icon-next;
                        font-family: @icons__font-name;
                        position: absolute;
                        right: 25px;
                    }
                }
            }
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .catalog-category-view {
        .page-title-wrapper,
        .columns {
            max-width: 1280px;
            margin: auto;
        }
    }
    .product {
        &-social-links {
            text-align: center;
        }

        &-info-main {
            .product-add-form {
                padding-top: 0;
            }
        }
    }
    .page-main {
        .block.widget {
            margin-bottom: 0;
        }
    }

    .category-columns {
        .pagebuilder-column {
            margin-right: 20px !important; //pagebuilder inline style override

            .pagebuilder-button-link {
                padding: 20px 10px !important;
                margin: 0;
            }
        }
    }
}

