//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .sorter-action {
        &:before {
            color: @stover-primary-dark-gray;
        }
    }

    .limiter {
        .control {
            position: relative;
            &:after {
                content: @icon-down;
                position: absolute;
                display: block;
                top: 10px;
                right: 10px;
                font-family: @icons__font-name;
                font-size: 12px;
            }

            select {
                padding: 5.5px 20px 4px 11px;
            }
        }
    }

    .toolbar-sorter {
        &:after {
            content: @icon-down;
            position: absolute;
            display: block;
            top: 10px;
            right: 37px;
            font-family: @icons__font-name;
            font-size: 12px;
        }
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .toolbar-products {
        position: relative;
        overflow: auto;
        height: 100px;
        display: block;

        .toolbar-amount {
            text-align: center;
            position: absolute;
            top: 40px;
            right: 0;
            color: @text__color;
        }

        .sorter {
            left: 0;
            width: fit-content;
            margin: auto;
        }
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .page-products {
        .sorter {
            position: relative;
        }
    }
}