<?xml version="1.0"?>
<!--
/**
 * Copyright © Human Element, Inc. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="HumanElement_RemoveReward">
        <sequence>
            <module name="Magento_Reward"/>
        </sequence>
    </module>
</config>
