//
//  Buttons variables
//  _____________________________________________
@button__font-family: @font-family-name__InterBold;
@button__font-size: 14px;
@button__padding: 10px 20px;
@button__border-radius: 20px;
@button-icon__color: @color-white;

@button__color: @stover-primary-elm;
@button__background: transparent;
@button__border: 2px solid @stover-primary-elm;

@button__hover__color: @color-white;
@button__hover__background: @stover-primary-blue-stone;
@button__hover__border: 2px solid @stover-primary-blue-stone;

// Outline & Offset
@stover-button-focus-outline-color: @stover-primary-blue-stone;
@stover-button-focus-outline: 2px solid @stover-primary-blue-stone;
@stover-button-focus-offset: 3px;

//  Primary button
@button-primary__background: @stover-primary-elm;
@button-primary__border: 1px solid @stover-primary-elm;
@button-primary__color: @color-white;

@button-primary__hover__background: @stover-primary-blue-stone;
@button-primary__hover__border: 1px solid @stover-primary-blue-stone;
@button-primary__hover__color: @button-primary__color;

