//
//  Variables
//  _____________________________________________

//
//  Default appearance styles
//  _____________________________________________

& when (@media-common = true) {
   .page-layout-1column {
       .page-main {
           max-width: unset;
           padding: 0;
       }
   }

    .cms-home {
        .page-main {
            .page-title-wrapper {
                .page-title {
                    display: none;
                }
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {

}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {

}