//
// Variables
//  _____________________________________________

@icon-font__size: 18px;

@fa-var-facebook-f: "\f39e";
@fa-var-twitter: "\f099";
@fa-var-pinterest-p: "\f231";
@fa-var-linkedin: "\f0e1";
@fa-var-instagram-square: "\f16d";
@fa-var-youtube: "\f167";
@fa-var-arrow-right: "\f061";

@font-face {
    font-family: 'icons-blank-theme';
    src: url('@{baseDir}fonts/Blank-Theme-Icons/Blank-Theme-Icons.woff2') format('woff2'),
    url('@{baseDir}fonts/Blank-Theme-Icons/Blank-Theme-Icons.woff') format('woff');
}

//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    .facebook,
    .twitter,
    .linked-in,
    .instagram,
    .pinterest,
    .youtube,
    .visa,
    .mastercard,
    .discover,
    .americanExpress,
    .applePay,
    .amazonPay,
    .payPal {
        .lib-css(color, @text__color);

        &.fab {
            .lib-css(font-weight, @font-weight__bold);
        }

        &.large {
            font-size: 48px;
            margin-right: 20px;
        }
    }

    .facebook {
        &:before {
            content: @fa-var-facebook-f;
        }
    }
    .twitter {
        &:before {
            content: @fa-var-twitter;
        }
    }
    .pinterest {
        &:before {
            content: @fa-var-pinterest-p;
        }
    }
    .instagram {
        &:before {
            content: @fa-var-instagram-square;
        }
    }
    .linked-in {
        &:before {
            content: @fa-var-linkedin;
        }
    }
    .youtube {
        &:before {
            content: @fa-var-youtube;
        }
    }
    .visa {
        &:before {
            content: '\f1f0';
        }
    }

    .mastercard {
        &:before {
            content: '\f1f1';
        }
    }

    .discover {
        &:before {
            content: '\f1f2';
        }
    }

    .americanExpress {
        &:before {
            content: '\f1f3';
        }
    }

    .applePay {
        &:before {
            content: '\f415';
        }
    }

    .amazonPay {
        &:before {
            content: '\f42c';
        }
    }

    .payPal {
        &:before {
            content: '\f1f4';
        }
    }

    .social-icons {
        &.green-link {
            text-align: center;
            margin-bottom: 25px;
            .facebook,
            .instagram,
            .twitter,
            .pinterest,
            .youtube {
                font-size: 24px;
                color: @stover-primary-elm;
                margin-right: 30px;
            }
        }
    }
}
