//  */

//
//  Default appearance styles
//  _____________________________________________

& when (@media-common = true) {
    a,
    button,
    div {
        &.pagebuilder-button-link {
            font-size: @font-size__base;
            color: @color-black;
            font-weight: 300;
            font-family: @font-family-name__InterRegular;
        }
    }
}