//
//  Variables
//  _____________________________________________
@ammenu-search-border: 1px solid @color-gray76;

//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    .header-search {
        display: none;
        z-index: -1;
        &.active {
            border-top: @ammenu-search-border;
            display: block;
        }
    }

    div.minisearch.button {
        &:before {
            content: url("../images/icon_search.png");
            height: 25px;
            width: 25px;
            display: inline-block;
        }
        &.active {
            &:before {
                content: url("../images/icon_close.png");
                line-height: 30px;
                height: 25px;
                width: 25px;
                display: inline-block;
                text-align: center;
            }
        }
    }

    .block-search {
        input {
            font-size: 14px;
            margin: 10px 0;
        }

        .control {
            position: relative;
        }
        .minisearch.active {
            .actions {
                position: absolute;
            }
            .action.search {
                display: block;
                border: none;
                color: transparent;
                background-color: transparent;
                &:after {
                    content: url("../images/icon_search.png");
                    height: 25px;
                    width: 25px;
                    display: inline-block;
                }

                span {
                    display: none; // to reduce the size of the button
                }
            }
        }
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .ammenu-header-container {
        .block-search {
            .minisearch {
                .control {
                    position: unset;
                    width: auto;
                }
            }
        }
    }
    div.minisearch.button {
        margin-right: 10px;
    }

    .block-search {
        margin-top: 0;
        .minisearch.active {
            .actions {
                top: 140px;
                right: 10px;
            }
        }
    }
    #search_autocomplete {
        display: none!important;
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .header-search {
        .block-search {
            max-width: 1280px;
            margin: auto;
            padding: 0 22px;
            .minisearch.active {
                .actions {
                    top: 150px;
                    right: 0;
                    width: fit-content;
                    margin: auto;
                    left: 580px;
                }

                .action.search {
                    float: right;
                }
            }
        }
    }

    div.minisearch.button {
        margin-right: 20px;
    }
}
