// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    .minisearch.button {
        &:before {
            content: url("../images/icon_search.png");
            height: 25px;
            width: 25px;
        }
    }

    .block-search {
        input {
            font-size: 14px;
        }
    }

}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {

}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .header-search {
        max-width: 1280px;
        margin: auto;
        padding: 0 22px;
    }
}
