//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .minicart-wrapper {
        .action.showcart {
            .counter.qty {
                position: absolute;
                top: -16px;
                right: -9px;
                background-color: @theme__color__primary;
                border-radius: 11px;
                font-size: 12px;
                font-weight: @font-weight__regular;
                height: 20px;
                line-height: 21px;
                padding: 0px 1px;
            }
        }
    }
    .checkout-payment-method  {
        .payment-option-title {
            .action-toggle:after {
                font-size: @font-size__base;
            }
        }
    }
}


//
//  Mobile
//  _____________________________________________
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .cart {
        &.table-wrapper {
            .col {
                &.subtotal {
                    float: right;
                }
            }
        }
    }
}

//
//  Desktop
//  _____________________________________________
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .opc-wrapper {
        width: 66%;
    }
    .form-giftcard-account {
        .secondary {
            margin-right: 10px;
        }
    }
}